# Optional override for the Zoho Forms embed URL
NEXT_PUBLIC_ZOHO_FORM_URL=https://forms.zohopublic.com/virtualoffice1scottscott11/form/Contactwithphone/formperma/UiYmAUiQnrEERpNZ2AvAq-50OA2DHehxqIUbXTexjPY
